body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.heading {
  font-weight: 700;
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
}
.subheading {
  font-weight: 300;
  font-family: "Oswald", sans-serif;
  font-size: 150%;
}

h1 {
  font-weight: 600;
  font-size: 5rem;
  font-family: "Fredoka One", cursive;
}
.contact {
  font-weight: 600;
  font-size: 6vw;
  font-family: "Fredoka One", cursive;
  color: rgb(83, 28, 176);
}
.skillCounter {
  font-weight: 600;
  font-size: 3rem;
  font-family: "Fredoka One", cursive;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
}
h3 {
  font-weight: 400;
  font-size: 2rem;
  font-family: "Fredoka One", cursive;
}

h4 {
  font-weight: 400;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
}

.numberSkill {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 3rem;
}

.welcome,
.devname {
  font-weight: 600;
  font-size: 3rem;
  font-family: "Fredoka One", cursive;
  color: rgb(83, 28, 176);
}
.findmydev {
  font-weight: 100;
  font-size: 1.3rem;
  font-family: "Fredoka One", cursive;
}

/* ANIMATION SEARCH PAGE */
.container-animation {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.dash {
  margin: 0 20px;
  width: 55px;
  height: 25px;
  border-radius: 8px;
  background: rgb(83, 28, 176);
  box-shadow: 0 0 10px 0 #fecdff;
}

.one {
  margin-right: -28px;
  transform-origin: center left;
  animation: spin 3s linear infinite;
}

.two {
  transform-origin: center right;
  animation: spin2 3s linear infinite;
  animation-delay: 0.2s;
}

.three {
  transform-origin: center right;
  animation: spin3 3s linear infinite;
  animation-delay: 0.3s;
}

.four {
  transform-origin: center right;
  animation: spin4 3s linear infinite;
  animation-delay: 0.4s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  30% {
    transform: rotate(370deg);
  }
  35% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-180deg);
  }
  35% {
    transform: rotate(-190deg);
  }
  40% {
    transform: rotate(-180deg);
  }
  78% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-360deg);
  }
  98% {
    transform: rotate(-370deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  27% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(190deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  80% {
    transform: rotate(370deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(0deg);
  }
  38% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  65% {
    transform: rotate(-370deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* PIE ANIMATION */
.pie-wrap {
  height: 13rem;
  width: 13rem;
  position: relative;
  margin: auto;
}

.pie-wrap:before {
  content: "";
  display: block;
  background-color: grey;
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
}

.slice-wrap:before {
  content: " ";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  clip: rect(0px, 100px, 200px, 0px);
  background-color: blue;
  transform: rotate(20deg);
}

.slice-wrap {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
}

.slice2.slice-wrap {
  transform: rotate(180deg);
}

.slice1:before {
  animation: 0.5s spin-pie linear forwards;
}

.slice2:before {
  transform: rotate(0deg);
  animation: 0.5s spin-pie2 linear 0.5s forwards;
}

.pie-wrap:after {
  content: " ";
  width: 140px;
  height: 140px;
  background: white;
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 50%;
  z-index: 999;
}

.pie-wrap2:after {
  display: none;
}

@keyframes spin-pie {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes spin-pie2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.number {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 80px;
  left: 60px;
  z-index: 9999;
}
